<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HAProxy Interface</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 60px;
        }
      }

      .panel-body {
          padding: 10px;
      } 

    </style>

</head>
 
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home"><i class="fa fa-server"></i> HAProxy Interface</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home"><i class="fa fa-dashboard fa-lg"></i> </a></li>
          <li><a href="#"><i class="fa fa-cogs fa-lg"></i> </a></li>
          <li><a href="#"><i class="fa fa-question-circle fa-lg"></i> </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-user"></i> Username</a></li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12 text-left">

            <div class="row">
              <div class="panel-body">

                <div class="col-md-3 text-left">
                  <div class="panel panel-default">
                    <div class="panel-heading" ><i class="fa fa-info-circle"></i> Overview</div>
                    <div  style="min-height: 160px; max-height: 162px;">
                    <div class="table-responsive">
                      <table class="table table-hover table-sm table-striped table-condensed">
                        <tr>
                          <th>Uptime</th>                                 
                          <td>{{ uptime }}</td>
                        </tr>
                        <tr>
                          <th>CPU Usage</th>
                          <td>{{ cpu }} %</td>
                        </tr>
                        <tr>
                          <th>Max Connection</th>
                          <td><button type="button" class="btn btn-primary btn-xs">{{ maxconn }}</button></td>
                        </tr>
                        <tr>
                          <th>Max Open Files</th>                                 
                          <td>{{ ulimitn }}</td>
                        </tr>
                        <tr>
                          <th>HAProxy Version</th>                                 
                          <td>{{ version }}</td>
                        </tr>
                      </table>
                    </div> 
                    </div>
                  </div>
                </div>

                <div class="col-md-6 text-left">
                  <div class="panel panel-default">
                    <div class="panel-heading" ><i class="fa fa-area-chart"></i> Session Rate</div>
                    <div id="container_session" style="min-height: 160px; max-height: 162px;"></div>
                  </div>
                </div>  

                <div class="col-md-3 text-left">
                  <div class="panel panel-default">
                    <div class="panel-heading" ><i class="fa fa-info-circle"></i> General Information</div>
                    <div  style="min-height: 160px; max-height: 162px;">
                    <div class="table-responsive">
                      <table class="table table-hover table-sm table-striped table-condensed">
                        <tr>
                          <th>Server Name</th>                                 
                          <td>{{ node }}</td>
                        </tr>
                        <tr>
                          <th>HAProxy Status</th>
                          <td><button type="button" class="btn btn-success btn-xs">Online</button></td>
                        </tr>
                        <tr>
                          <th>Backends</th>
                          <td>
                            <button type="button" class="btn btn-success btn-xs">{{ backends_up }} UP</button>
                            <button type="button" class="btn btn-danger btn-xs">{{ backends_down }} DOWN</button>
                          </td>
                        </tr>
                        <tr>
                          <th>Servers</th>                                 
                          <td>
                            <button type="button" class="btn btn-success btn-xs">{{ servers_up }} UP</button>
                            <button type="button" class="btn btn-danger btn-xs">{{ servers_down }} DOWN</button>
                          </td>
                        </tr>
                        <tr>
                          <th>Session Rate</th>                                 
                          <td>{{ sessrate }}</td>
                        </tr>
                      </table>
                    </div> 
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="panel-body">
                <div class="col-md-12 text-left">
                  <div class="panel panel-default">
                    <div class="table-responsive">
                      <table class="table table-hover table-sm table-striped table-condensed table-bordered">
                        <tr>
                          <th><i class="fa fa-server"></i> Server</th>
                          <th><i class="fa fa-info-circle"></i> Status</th>
                          <th><i class="fa fa-tasks"></i> Request</th>
                          <th><i class="fa fa-balance-scale"></i> Weight</th>                          
                        </tr>
                        {% for server in servers %}
                          <tr>
                            <td>{{ server.name }}</td>
                            <td>
                              {% if server.status == 'UP' %}
                                <button type="button" class="btn btn-success btn-xs"><i class="fa fa-thumbs-up"></i> Online</button></td>
                              {% else %}
                                <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-down"></i> Down</button></td>
                              {% endif %}
                            <td>{{ server.requests }}</td>
                            <td>{{ server.weight }}</td>                            
                          </tr>
                        {% endfor %}                        
                      </table>
                    </div> 
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="panel-body">
                <div class="col-md-12 text-left">
                  <div class="panel panel-default">
                    <div class="panel-heading" ><i class="fa fa-area-chart"></i> LoadBalancer Requests</div>
                    <div id="container_balancereq" style="min-height: 235px; max-height: 235px;"></div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

    <!-- jQuery library -->
    <script src="static/js/jquery.min.js"></script>

    <script type="text/javascript">          
    $(document).ready(function () {

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        Highcharts.chart('container_balancereq', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                      // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:5001/api/info',
                                dataType: 'json',
                                success: function(data) { 
                                  var y = parseInt(data[0].CurrConns);
                                  var x = (new Date()).getTime() // current time
                                  series.addPoint([x, y], true, true);
                                },
                                data: {},
                                async: false
                            })
                        }, 1000);
                    }
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%d-%m-%Y %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }]
        });

        Highcharts.chart('container_session', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                      // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:5001/api/info',
                                dataType: 'json',
                                success: function(data) { 
                                  var y = parseInt(data[0].SessRate);
                                  var x = (new Date()).getTime() // current time
                                  series.addPoint([x, y], true, true);
                                },
                                data: {},
                                async: false
                            })
                        }, 1000);
                    }
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%d-%m-%Y %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }]
        });

    });    
    </script>

    <!-- Latest compiled JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/highcharts.src.js"></script>

</body>
 
</html>
