<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HAProxy Interface</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 100px;
        }
      }
    </style>

</head>
 
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">HAProxy Interface</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home">Home</a></li>
<!--           <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Username</a></li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">

          <div class="col-lg-4 text-left">
            <div class="panel panel-default">
              <div class="panel-heading">Balancer Status</div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tr>
                      <th>Status</th>                                 
                      <td>OK</td>
                    </tr>
                    <tr>
                      <th>CPU Usage</th>
                      <td>{{ cpu }}</td>
                    </tr>
                    <tr>
                      <th>Ram Usage</th>
                      <td>{{ mem }}</td>
                    </tr>
                    <tr>
                      <th>Current Connection</th>
                      <td>{{ currconns }}</td>
                    </tr>
                    <tr>
                      <th>Version</th>                                 
                      <td>{{ version }}</td>
                    </tr>
                  </table>
                </div>                
              </div>
              <div class="panel-footer">Update every 60s</div>
            </div>
          </div>

          <div class="col-lg-4 text-center">
            <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>


          <div class="col-lg-4 text-center">
            <div class="panel panel-default">
              <div class="panel-heading">Panel Heading</div>
              <div class="panel-body">Panel Content</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- jQuery library -->
    <script src="static/js/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>
 
</html>
